*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/images/53353.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient(120deg, #fc0390, #80084c);
    width: 40%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    row-gap: 10px;
    flex-wrap: wrap;
    box-shadow: 1px 2px 5px rgba(133, 1, 78, 0.2);
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    width: 100%;
    column-gap: 10px;

}


.header .app{
    color: white;

}

.input input {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}
.input button {
    border: none;
    outline: none;
    border-radius: 30%;
    padding: 5px;
}

.header .input img {
    height: 30px;
}

.error{
    color: rgb(255, 196, 196);
    font-size: .9rem;
    display: none;
}

.body-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.body-section .cloud img {
    height: 200px;
}

.body-section .temperature{
    display: flex;
    align-items: center;
    font-size: 2.2rem;
}

.temperature span {
    color: gold;
    font-size: 3rem;
    font-weight: 500;
}

.body-section .temperature h2 span{
    color: gold;
}

.body-section .country h3{
    font-size: 2.5rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    color: white;
}

.footer img {
    height: 60px;
}

.footer .left-side, .right-side {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
    column-gap: 7px;
    
}

.footer .hum, .sp{
    font-size: .8rem;
}

.weather{
    display: none;
    flex-direction: column;
    row-gap: 20px;
}

@media screen and (max-width: 900px) {
    .card {
        width: 65%;
    }
}

@media screen and (max-width: 450px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        
    .card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    }
    .footer{
        column-gap: 30px;
    }

}


@media screen and (max-width: 320px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-color: #80084c;
        font-size: 10px;
    }
    .card {
        width: 100%;
        justify-content: center;
        align-items: center;
        row-gap: 3px;

    }

    .body-section .cloud img {
        height: 50px;
    }

    .footer{
        flex-wrap: wrap
    }
}